ul {
  padding: 0;
  list-style-type: none;
}

.spm-App {
  .App-header {
    display: flex;
    color: #000000;
    justify-content: space-between;
    height: auto;
    width: 100%;
    max-height: 88px;
    position: fixed;
    top: 0;
    z-index: 10000;
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
    }

    li {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      max-width: 28%;
      flex-direction: column;
    }
  }
  &-mainContent {
    margin: 88px auto;
  }
}

.spm-NavBarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  height: 60px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom-color: rgba(0,0,0,0.1);
  a {
    text-decoration: none;
    color: black;
    &-title {
      margin: 20px;
    }
    
    &-link {
      h1{
        text-decoration: none;
      }
      text-decoration: none;
      color: white;
    }
  }
}

.spm-RecipesGridContainer {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    min-width: 290px;
    .spm-searchContianer {
      color: #282c34;
      margin: 30px auto;
      width: 90%;
      height: 3vw;
      min-height: 45px;
      border: 1px solid lightgrey;
      border-radius: 8px;
      padding: 6px; //this is to prevent border radius from cutting off;
      .spm-search {
        background-image: url(/universal/images-v6/icons/icon-searchqueries-20-dark.png);
        height: 100%;
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0 15px;
      }
    }

  .spm-RecipesList {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: auto;
    justify-content: center;      
    li {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      flex-direction: column;
      min-width: 290px;
      max-width: 575;
      a {
        text-decoration: none;        
        color: #282c34;
        .spm-Recipe-label {
          margin: 5px 0;
          font-weight: 800;
          font-size: 20px;
        }
        .spm-Recipe-date {
          font-weight: lighter;
          font-size:12px;
        }
      }
      .spm-Recipe-imgCover {
        position: relative;
        height: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        .spm-Recipe-titleContainer {
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .spm-Recipe-img {
          position: absolute;
          max-width: 100%;
          height: auto;
          transition: transform .3s; /* Animation */
          z-index:2;
        }
      }
      .spm-Recipe-imgCover:hover {
        .spm-Recipe-img {
          z-index: 0;
          transform: scale(1.1); 
          filter: brightness(50%);
        }
        .spm-Recipe-titleContainer {
          z-index:1;
        }
      }
    }
  }
}

.spm-RecipePageContainer {
  &-banner {
    position: relative;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      transform: scale(1.1, 1.1);
    }
  }
  &-title {
    text-align: center;
    margin: auto;
    z-index: 100;
    // font-family: Futura;
    letter-spacing: .05em;
    line-height: 31px;
    height: auto;
    h3 {
      font-size: 3em;
      margin-bottom: 10px;
    }
  }
  &-section {
    display: flex;
    justify-content: space-evenly;
    .spm-Part {
      display: flex;
      .spm-ingredients {
        flex-grow: 1;
      }
      .spm-method {
        flex-grow: 2;
      }
    }
  }
}

.spm-Basics {
  display: flex;
  flex-direction: column;
  margin: auto;
  &-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5%;
    h5 {
      margin: 0;
    }
  }
}

.spm-Homepage {
  display: flex;
  margin: auto;
  padding-top: 30px;
}