ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-width: 28%;
  margin: 20px;
  flex-direction: column;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  display: flex;
  color: white;
  justify-content: space-between;
  background-color: #282c34;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.spm-navbar {
  color: white;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.spm-title {
  margin: 20px;
}

.spm-searchContianer {
  flex-grow: 2;
  color: white;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.spm-search {
  background-image: url(/universal/images-v6/icons/icon-searchqueries-20-dark.png);
  background-color: #282c34;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1rem;
}
.spm-RecipesGridContainer {
  .spm-RecipesList {
    margin: 5% auto;

    max-width: 1000px;
    width: auto;
    li {
      min-width: 233px;
      .spm-Recipe-img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}